@import url(c:\Users\LINE\Documents\GitHub\profile\css\reset_css.css);
ul, li {
  list-style: none;
}

.quick {
  position: fixed;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 100000;
}

.quick .on {
  background: skyblue;
}

.quick li {
  width: 10px;
  height: 10px;
  margin-bottom: 10px;
  border: 2px solid #000;
  border-radius: 15px;
  cursor: pointer;
  background: #ddd;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#fullpage {
  position: relative;
  top: 0px;
  z-index: 9;
  width: 100%;
  height: 100%;
}

#fullpage span {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 4em;
  font-weight: bold;
}

.fullsection {
  width: 100%;
  height: 100%;
  position: relative;
}

.info_main {
  width: 100%;
  height: 100%;
  position: relative;
}

.img_page {
  width: 50%;
  height: 60%;
  background: #fff;
  border-radius: 20px;
  position: absolute;
  top: 20%;
  left: 10%;
  -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
}

.info_sub {
  width: 24.5%;
  height: 100%;
  float: right;
  background: #fff;
  position: absolute;
  top: 0;
  right: 7%;
}

.BS_info .info_main {
  background: #e8dcca;
}

.FF14_info .info_main {
  background: #ece6cc;
}

.Higashino_info .info_main {
  background: #dcd5cd;
}

.CHANEL_info .info_main {
  background: #444;
}

.team_info .info_main {
  background: #eee;
}

.contact {
  background: #a9cbd7;
}
