@charset "UTF-8";
@import "../css/reset_css.css";
@import "quick_event";
@font-face {
  src: url(../fonts/PowerPixel7-Jy0E.ttf);
  font-family: "dot";
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
};

#fullpage {
  position:relative;
  top: 0px;
  z-index: 9;
  width: 100%;
  height: 100%;

};

.fullsection {
  width: 100%;
  height: 100%;
  position:relative;
};

.info_main {
  width: 100%;
  height: 100%;
  position: relative;
}

.img_page {
  width: 50%;
  height: 60%;
  background:#fff;
  border-radius: 20px;
  position: absolute;
  top:20%;
  left: 10%;
  box-shadow: 4px 4px 4px rgba(0,0,0,0.1);
}

.info_sub {
  width: 24.5%;
  height: 100%;
  float: right;
  background: #fff;
  position: absolute;
  top:0;
  right:7%;

}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
}

.title_text{
  display: none;
}



.title_blink {
  display: inline-block; 
  font: {
    size: 4em;
  }
  text-align: center;
  width: 1200px;
  height: auto;
  color:#fff;
  font-family: "dot";
}

.title_blink span{
  animation-name: cursor; 
  animation-duration: 1s; 
  animation-iteration-count: infinite; 
}

@keyframes cursor{ 
  0%{border-right: 1px solid #fff} 
  50%{border-right: 1px solid #000} 
  100%{border-right: 1px solid #fff} 
}

.BS_info .info_main {
  background: #e8dcca;
  
}

.FF14_info .info_main {
  background: #ece6cc;
}

.Higashino_info .info_main {
  background: #dcd5cd;
}

.CHANEL_info .info_main {
  background: #444;
}

.team_info .info_main {
  background:#eee;
}

.contact {
  background:#a9cbd7
}